<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="catalog" translate="label" sortOrder="999">
			<label>catalog</label>
		</tab>
		<section id="extend_products" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Extend Products</label>
			<tab>catalog</tab>
			<resource>NF_ExtendProducts::config_nf_extendproducts</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>general</label>
				<field id="allowed_attributes" type="textarea" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>allowed_attributes</label>
					<comment/>
				</field>
				<field id="attribute_allowed_to_match" type="textarea" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>attribute_allowed_to_match</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
